/* footer {
    text-align: center; 
    margin: 24rem auto 0;
} */

.bottom footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  text-align: center;
}
